<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tic Tac Toe</title>
    <link href="css/main.css" rel="stylesheet">
</head>
<body>  
    <h1>TicTacToevirkar</h1> 
    <div id="container">
        #foreach($i in $turn)
            <button id="$foreach.index" class="btn">$i</button>
        #end
        <form action="/" method="post">
            <button id="-1">Reset</button>
        </form>
    </div>
    <h2 id="status"></h2>
<script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
></script>

<script type="text/javascript">
     
     $(document).ready(function() {
        $("button").click(function() {
            
            var posting = $.post( "/game", {id: this.id });

            posting.done(function(data) {
                var id = "#" + data[0];
                $(id).html(data[1]);

               if (data[2] == 1) {
                   $("#status").html("'X' vann!");
               }
               else if(data[2] == 2) {
                   $("#status").html("'O' vann!");
               }
               else if(data[2] == 3) {
                   $("#status").html("Jafntefli!");
               }
               else {
                   $("#status").html("");
               }
            });
        });
     });
</script>
</body>
</html>
